# State dir
.ufbt

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

### SCons ###
# for projects that use SCons for building: http://http://www.scons.org/
.sconsign.dblite

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/
